.deg-0   { transform: rotate(0deg)   translate(14em) rotate(-0deg); }
.deg-1   { transform: rotate(1deg)   translate(14em) rotate(-1deg); }
.deg-2   { transform: rotate(2deg)   translate(14em) rotate(-2deg); }
.deg-3   { transform: rotate(3deg)   translate(14em) rotate(-3deg); }
.deg-4   { transform: rotate(4deg)   translate(14em) rotate(-4deg); }
.deg-5   { transform: rotate(5deg)   translate(14em) rotate(-5deg); }
.deg-6   { transform: rotate(6deg)   translate(14em) rotate(-6deg); }
.deg-7   { transform: rotate(7deg)   translate(14em) rotate(-7deg); }
.deg-8   { transform: rotate(8deg)   translate(14em) rotate(-8deg); }
.deg-9   { transform: rotate(9deg)   translate(14em) rotate(-9deg); }
.deg-10  { transform: rotate(10deg)  translate(14em) rotate(-10deg); }
.deg-11  { transform: rotate(11deg)  translate(14em) rotate(-11deg); }
.deg-12  { transform: rotate(12deg)  translate(14em) rotate(-12deg); }
.deg-13  { transform: rotate(13deg)  translate(14em) rotate(-13deg); }
.deg-14  { transform: rotate(14deg)  translate(14em) rotate(-14deg); }
.deg-15  { transform: rotate(15deg)  translate(14em) rotate(-15deg); }
.deg-16  { transform: rotate(16deg)  translate(14em) rotate(-16deg); }
.deg-17  { transform: rotate(17deg)  translate(14em) rotate(-17deg); }
.deg-18  { transform: rotate(18deg)  translate(14em) rotate(-18deg); }
.deg-19  { transform: rotate(19deg)  translate(14em) rotate(-19deg); }
.deg-20  { transform: rotate(20deg)  translate(14em) rotate(-20deg); }
.deg-21  { transform: rotate(21deg)  translate(14em) rotate(-21deg); }
.deg-22  { transform: rotate(22deg)  translate(14em) rotate(-22deg); }
.deg-23  { transform: rotate(23deg)  translate(14em) rotate(-23deg); }
.deg-24  { transform: rotate(24deg)  translate(14em) rotate(-24deg); }
.deg-25  { transform: rotate(25deg)  translate(14em) rotate(-25deg); }
.deg-26  { transform: rotate(26deg)  translate(14em) rotate(-26deg); }
.deg-27  { transform: rotate(27deg)  translate(14em) rotate(-27deg); }
.deg-28  { transform: rotate(28deg)  translate(14em) rotate(-28deg); }
.deg-29  { transform: rotate(29deg)  translate(14em) rotate(-29deg); }
.deg-30  { transform: rotate(30deg)  translate(14em) rotate(-30deg); }
.deg-31  { transform: rotate(31deg)  translate(14em) rotate(-31deg); }
.deg-32  { transform: rotate(32deg)  translate(14em) rotate(-32deg); }
.deg-33  { transform: rotate(33deg)  translate(14em) rotate(-33deg); }
.deg-34  { transform: rotate(34deg)  translate(14em) rotate(-34deg); }
.deg-35  { transform: rotate(35deg)  translate(14em) rotate(-35deg); }
.deg-36  { transform: rotate(36deg)  translate(14em) rotate(-36deg); }
.deg-37  { transform: rotate(37deg)  translate(14em) rotate(-37deg); }
.deg-38  { transform: rotate(38deg)  translate(14em) rotate(-38deg); }
.deg-39  { transform: rotate(39deg)  translate(14em) rotate(-39deg); }
.deg-40  { transform: rotate(40deg)  translate(14em) rotate(-40deg); }
.deg-41  { transform: rotate(41deg)  translate(14em) rotate(-41deg); }
.deg-42  { transform: rotate(42deg)  translate(14em) rotate(-42deg); }
.deg-43  { transform: rotate(43deg)  translate(14em) rotate(-43deg); }
.deg-44  { transform: rotate(44deg)  translate(14em) rotate(-44deg); }
.deg-45  { transform: rotate(45deg)  translate(14em) rotate(-45deg); }
.deg-46  { transform: rotate(46deg)  translate(14em) rotate(-46deg); }
.deg-47  { transform: rotate(47deg)  translate(14em) rotate(-47deg); }
.deg-48  { transform: rotate(48deg)  translate(14em) rotate(-48deg); }
.deg-49  { transform: rotate(49deg)  translate(14em) rotate(-49deg); }
.deg-50  { transform: rotate(50deg)  translate(14em) rotate(-50deg); }
.deg-51  { transform: rotate(51deg)  translate(14em) rotate(-51deg); }
.deg-52  { transform: rotate(52deg)  translate(14em) rotate(-52deg); }
.deg-53  { transform: rotate(53deg)  translate(14em) rotate(-53deg); }
.deg-54  { transform: rotate(54deg)  translate(14em) rotate(-54deg); }
.deg-55  { transform: rotate(55deg)  translate(14em) rotate(-55deg); }
.deg-56  { transform: rotate(56deg)  translate(14em) rotate(-56deg); }
.deg-57  { transform: rotate(57deg)  translate(14em) rotate(-57deg); }
.deg-58  { transform: rotate(58deg)  translate(14em) rotate(-58deg); }
.deg-59  { transform: rotate(59deg)  translate(14em) rotate(-59deg); }
.deg-60  { transform: rotate(60deg)  translate(14em) rotate(-60deg); }
.deg-61  { transform: rotate(61deg)  translate(14em) rotate(-61deg); }
.deg-62  { transform: rotate(62deg)  translate(14em) rotate(-62deg); }
.deg-63  { transform: rotate(63deg)  translate(14em) rotate(-63deg); }
.deg-64  { transform: rotate(64deg)  translate(14em) rotate(-64deg); }
.deg-65  { transform: rotate(65deg)  translate(14em) rotate(-65deg); }
.deg-66  { transform: rotate(66deg)  translate(14em) rotate(-66deg); }
.deg-67  { transform: rotate(67deg)  translate(14em) rotate(-67deg); }
.deg-68  { transform: rotate(68deg)  translate(14em) rotate(-68deg); }
.deg-69  { transform: rotate(69deg)  translate(14em) rotate(-69deg); }
.deg-70  { transform: rotate(70deg)  translate(14em) rotate(-70deg); }
.deg-71  { transform: rotate(71deg)  translate(14em) rotate(-71deg); }
.deg-72  { transform: rotate(72deg)  translate(14em) rotate(-72deg); }
.deg-73  { transform: rotate(73deg)  translate(14em) rotate(-73deg); }
.deg-74  { transform: rotate(74deg)  translate(14em) rotate(-74deg); }
.deg-75  { transform: rotate(75deg)  translate(14em) rotate(-75deg); }
.deg-76  { transform: rotate(76deg)  translate(14em) rotate(-76deg); }
.deg-77  { transform: rotate(77deg)  translate(14em) rotate(-77deg); }
.deg-78  { transform: rotate(78deg)  translate(14em) rotate(-78deg); }
.deg-79  { transform: rotate(79deg)  translate(14em) rotate(-79deg); }
.deg-80  { transform: rotate(80deg)  translate(14em) rotate(-80deg); }
.deg-81  { transform: rotate(81deg)  translate(14em) rotate(-81deg); }
.deg-82  { transform: rotate(82deg)  translate(14em) rotate(-82deg); }
.deg-83  { transform: rotate(83deg)  translate(14em) rotate(-83deg); }
.deg-84  { transform: rotate(84deg)  translate(14em) rotate(-84deg); }
.deg-85  { transform: rotate(85deg)  translate(14em) rotate(-85deg); }
.deg-86  { transform: rotate(86deg)  translate(14em) rotate(-86deg); }
.deg-87  { transform: rotate(87deg)  translate(14em) rotate(-87deg); }
.deg-88  { transform: rotate(88deg)  translate(14em) rotate(-88deg); }
.deg-89  { transform: rotate(89deg)  translate(14em) rotate(-89deg); }
.deg-90  { transform: rotate(90deg)  translate(14em) rotate(-90deg); }
.deg-91  { transform: rotate(91deg)  translate(14em) rotate(-91deg); }
.deg-92  { transform: rotate(92deg)  translate(14em) rotate(-92deg); }
.deg-93  { transform: rotate(93deg)  translate(14em) rotate(-93deg); }
.deg-94  { transform: rotate(94deg)  translate(14em) rotate(-94deg); }
.deg-95  { transform: rotate(95deg)  translate(14em) rotate(-95deg); }
.deg-96  { transform: rotate(96deg)  translate(14em) rotate(-96deg); }
.deg-97  { transform: rotate(97deg)  translate(14em) rotate(-97deg); }
.deg-98  { transform: rotate(98deg)  translate(14em) rotate(-98deg); }
.deg-99  { transform: rotate(99deg)  translate(14em) rotate(-99deg); }
.deg-100 { transform: rotate(100deg) translate(14em) rotate(-100deg); }
.deg-101 { transform: rotate(101deg) translate(14em) rotate(-101deg); }
.deg-102 { transform: rotate(102deg) translate(14em) rotate(-102deg); }
.deg-103 { transform: rotate(103deg) translate(14em) rotate(-103deg); }
.deg-104 { transform: rotate(104deg) translate(14em) rotate(-104deg); }
.deg-105 { transform: rotate(105deg) translate(14em) rotate(-105deg); }
.deg-106 { transform: rotate(106deg) translate(14em) rotate(-106deg); }
.deg-107 { transform: rotate(107deg) translate(14em) rotate(-107deg); }
.deg-108 { transform: rotate(108deg) translate(14em) rotate(-108deg); }
.deg-109 { transform: rotate(109deg) translate(14em) rotate(-109deg); }
.deg-110 { transform: rotate(110deg) translate(14em) rotate(-110deg); }
.deg-111 { transform: rotate(111deg) translate(14em) rotate(-111deg); }
.deg-112 { transform: rotate(112deg) translate(14em) rotate(-112deg); }
.deg-113 { transform: rotate(113deg) translate(14em) rotate(-113deg); }
.deg-114 { transform: rotate(114deg) translate(14em) rotate(-114deg); }
.deg-115 { transform: rotate(115deg) translate(14em) rotate(-115deg); }
.deg-116 { transform: rotate(116deg) translate(14em) rotate(-116deg); }
.deg-117 { transform: rotate(117deg) translate(14em) rotate(-117deg); }
.deg-118 { transform: rotate(118deg) translate(14em) rotate(-118deg); }
.deg-119 { transform: rotate(119deg) translate(14em) rotate(-119deg); }
.deg-120 { transform: rotate(120deg) translate(14em) rotate(-120deg); }
.deg-121 { transform: rotate(121deg) translate(14em) rotate(-121deg); }
.deg-122 { transform: rotate(122deg) translate(14em) rotate(-122deg); }
.deg-123 { transform: rotate(123deg) translate(14em) rotate(-123deg); }
.deg-124 { transform: rotate(124deg) translate(14em) rotate(-124deg); }
.deg-125 { transform: rotate(125deg) translate(14em) rotate(-125deg); }
.deg-126 { transform: rotate(126deg) translate(14em) rotate(-126deg); }
.deg-127 { transform: rotate(127deg) translate(14em) rotate(-127deg); }
.deg-128 { transform: rotate(128deg) translate(14em) rotate(-128deg); }
.deg-129 { transform: rotate(129deg) translate(14em) rotate(-129deg); }
.deg-130 { transform: rotate(130deg) translate(14em) rotate(-130deg); }
.deg-131 { transform: rotate(131deg) translate(14em) rotate(-131deg); }
.deg-132 { transform: rotate(132deg) translate(14em) rotate(-132deg); }
.deg-133 { transform: rotate(133deg) translate(14em) rotate(-133deg); }
.deg-134 { transform: rotate(134deg) translate(14em) rotate(-134deg); }
.deg-135 { transform: rotate(135deg) translate(14em) rotate(-135deg); }
.deg-136 { transform: rotate(136deg) translate(14em) rotate(-136deg); }
.deg-137 { transform: rotate(137deg) translate(14em) rotate(-137deg); }
.deg-138 { transform: rotate(138deg) translate(14em) rotate(-138deg); }
.deg-139 { transform: rotate(139deg) translate(14em) rotate(-139deg); }
.deg-140 { transform: rotate(140deg) translate(14em) rotate(-140deg); }
.deg-141 { transform: rotate(141deg) translate(14em) rotate(-141deg); }
.deg-142 { transform: rotate(142deg) translate(14em) rotate(-142deg); }
.deg-143 { transform: rotate(143deg) translate(14em) rotate(-143deg); }
.deg-144 { transform: rotate(144deg) translate(14em) rotate(-144deg); }
.deg-145 { transform: rotate(145deg) translate(14em) rotate(-145deg); }
.deg-146 { transform: rotate(146deg) translate(14em) rotate(-146deg); }
.deg-147 { transform: rotate(147deg) translate(14em) rotate(-147deg); }
.deg-148 { transform: rotate(148deg) translate(14em) rotate(-148deg); }
.deg-149 { transform: rotate(149deg) translate(14em) rotate(-149deg); }
.deg-150 { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.deg-151 { transform: rotate(151deg) translate(14em) rotate(-151deg); }
.deg-152 { transform: rotate(152deg) translate(14em) rotate(-152deg); }
.deg-153 { transform: rotate(153deg) translate(14em) rotate(-153deg); }
.deg-154 { transform: rotate(154deg) translate(14em) rotate(-154deg); }
.deg-155 { transform: rotate(155deg) translate(14em) rotate(-155deg); }
.deg-156 { transform: rotate(156deg) translate(14em) rotate(-156deg); }
.deg-157 { transform: rotate(157deg) translate(14em) rotate(-157deg); }
.deg-158 { transform: rotate(158deg) translate(14em) rotate(-158deg); }
.deg-159 { transform: rotate(159deg) translate(14em) rotate(-159deg); }
.deg-160 { transform: rotate(160deg) translate(14em) rotate(-160deg); }
.deg-161 { transform: rotate(161deg) translate(14em) rotate(-161deg); }
.deg-162 { transform: rotate(162deg) translate(14em) rotate(-162deg); }
.deg-163 { transform: rotate(163deg) translate(14em) rotate(-163deg); }
.deg-164 { transform: rotate(164deg) translate(14em) rotate(-164deg); }
.deg-165 { transform: rotate(165deg) translate(14em) rotate(-165deg); }
.deg-166 { transform: rotate(166deg) translate(14em) rotate(-166deg); }
.deg-167 { transform: rotate(167deg) translate(14em) rotate(-167deg); }
.deg-168 { transform: rotate(168deg) translate(14em) rotate(-168deg); }
.deg-169 { transform: rotate(169deg) translate(14em) rotate(-169deg); }
.deg-170 { transform: rotate(170deg) translate(14em) rotate(-170deg); }
.deg-171 { transform: rotate(171deg) translate(14em) rotate(-171deg); }
.deg-172 { transform: rotate(172deg) translate(14em) rotate(-172deg); }
.deg-173 { transform: rotate(173deg) translate(14em) rotate(-173deg); }
.deg-174 { transform: rotate(174deg) translate(14em) rotate(-174deg); }
.deg-175 { transform: rotate(175deg) translate(14em) rotate(-175deg); }
.deg-176 { transform: rotate(176deg) translate(14em) rotate(-176deg); }
.deg-177 { transform: rotate(177deg) translate(14em) rotate(-177deg); }
.deg-178 { transform: rotate(178deg) translate(14em) rotate(-178deg); }
.deg-179 { transform: rotate(179deg) translate(14em) rotate(-179deg); }
.deg-180 { transform: rotate(180deg) translate(14em) rotate(-180deg); }
.deg-181 { transform: rotate(181deg) translate(14em) rotate(-181deg); }
.deg-182 { transform: rotate(182deg) translate(14em) rotate(-182deg); }
.deg-183 { transform: rotate(183deg) translate(14em) rotate(-183deg); }
.deg-184 { transform: rotate(184deg) translate(14em) rotate(-184deg); }
.deg-185 { transform: rotate(185deg) translate(14em) rotate(-185deg); }
.deg-186 { transform: rotate(186deg) translate(14em) rotate(-186deg); }
.deg-187 { transform: rotate(187deg) translate(14em) rotate(-187deg); }
.deg-188 { transform: rotate(188deg) translate(14em) rotate(-188deg); }
.deg-189 { transform: rotate(189deg) translate(14em) rotate(-189deg); }
.deg-190 { transform: rotate(190deg) translate(14em) rotate(-190deg); }
.deg-191 { transform: rotate(191deg) translate(14em) rotate(-191deg); }
.deg-192 { transform: rotate(192deg) translate(14em) rotate(-192deg); }
.deg-193 { transform: rotate(193deg) translate(14em) rotate(-193deg); }
.deg-194 { transform: rotate(194deg) translate(14em) rotate(-194deg); }
.deg-195 { transform: rotate(195deg) translate(14em) rotate(-195deg); }
.deg-196 { transform: rotate(196deg) translate(14em) rotate(-196deg); }
.deg-197 { transform: rotate(197deg) translate(14em) rotate(-197deg); }
.deg-198 { transform: rotate(198deg) translate(14em) rotate(-198deg); }
.deg-199 { transform: rotate(199deg) translate(14em) rotate(-199deg); }
.deg-200 { transform: rotate(200deg) translate(14em) rotate(-200deg); }
.deg-201 { transform: rotate(201deg) translate(14em) rotate(-201deg); }
.deg-202 { transform: rotate(202deg) translate(14em) rotate(-202deg); }
.deg-203 { transform: rotate(203deg) translate(14em) rotate(-203deg); }
.deg-204 { transform: rotate(204deg) translate(14em) rotate(-204deg); }
.deg-205 { transform: rotate(205deg) translate(14em) rotate(-205deg); }
.deg-206 { transform: rotate(206deg) translate(14em) rotate(-206deg); }
.deg-207 { transform: rotate(207deg) translate(14em) rotate(-207deg); }
.deg-208 { transform: rotate(208deg) translate(14em) rotate(-208deg); }
.deg-209 { transform: rotate(209deg) translate(14em) rotate(-209deg); }
.deg-210 { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.deg-211 { transform: rotate(211deg) translate(14em) rotate(-211deg); }
.deg-212 { transform: rotate(212deg) translate(14em) rotate(-212deg); }
.deg-213 { transform: rotate(213deg) translate(14em) rotate(-213deg); }
.deg-214 { transform: rotate(214deg) translate(14em) rotate(-214deg); }
.deg-215 { transform: rotate(215deg) translate(14em) rotate(-215deg); }
.deg-216 { transform: rotate(216deg) translate(14em) rotate(-216deg); }
.deg-217 { transform: rotate(217deg) translate(14em) rotate(-217deg); }
.deg-218 { transform: rotate(218deg) translate(14em) rotate(-218deg); }
.deg-219 { transform: rotate(219deg) translate(14em) rotate(-219deg); }
.deg-220 { transform: rotate(220deg) translate(14em) rotate(-220deg); }
.deg-221 { transform: rotate(221deg) translate(14em) rotate(-221deg); }
.deg-222 { transform: rotate(222deg) translate(14em) rotate(-222deg); }
.deg-223 { transform: rotate(223deg) translate(14em) rotate(-223deg); }
.deg-224 { transform: rotate(224deg) translate(14em) rotate(-224deg); }
.deg-225 { transform: rotate(225deg) translate(14em) rotate(-225deg); }
.deg-226 { transform: rotate(226deg) translate(14em) rotate(-226deg); }
.deg-227 { transform: rotate(227deg) translate(14em) rotate(-227deg); }
.deg-228 { transform: rotate(228deg) translate(14em) rotate(-228deg); }
.deg-229 { transform: rotate(229deg) translate(14em) rotate(-229deg); }
.deg-230 { transform: rotate(230deg) translate(14em) rotate(-230deg); }
.deg-231 { transform: rotate(231deg) translate(14em) rotate(-231deg); }
.deg-232 { transform: rotate(232deg) translate(14em) rotate(-232deg); }
.deg-233 { transform: rotate(233deg) translate(14em) rotate(-233deg); }
.deg-234 { transform: rotate(234deg) translate(14em) rotate(-234deg); }
.deg-235 { transform: rotate(235deg) translate(14em) rotate(-235deg); }
.deg-236 { transform: rotate(236deg) translate(14em) rotate(-236deg); }
.deg-237 { transform: rotate(237deg) translate(14em) rotate(-237deg); }
.deg-238 { transform: rotate(238deg) translate(14em) rotate(-238deg); }
.deg-239 { transform: rotate(239deg) translate(14em) rotate(-239deg); }
.deg-240 { transform: rotate(240deg) translate(14em) rotate(-240deg); }
.deg-241 { transform: rotate(241deg) translate(14em) rotate(-241deg); }
.deg-242 { transform: rotate(242deg) translate(14em) rotate(-242deg); }
.deg-243 { transform: rotate(243deg) translate(14em) rotate(-243deg); }
.deg-244 { transform: rotate(244deg) translate(14em) rotate(-244deg); }
.deg-245 { transform: rotate(245deg) translate(14em) rotate(-245deg); }
.deg-246 { transform: rotate(246deg) translate(14em) rotate(-246deg); }
.deg-247 { transform: rotate(247deg) translate(14em) rotate(-247deg); }
.deg-248 { transform: rotate(248deg) translate(14em) rotate(-248deg); }
.deg-249 { transform: rotate(249deg) translate(14em) rotate(-249deg); }
.deg-250 { transform: rotate(250deg) translate(14em) rotate(-250deg); }
.deg-251 { transform: rotate(251deg) translate(14em) rotate(-251deg); }
.deg-252 { transform: rotate(252deg) translate(14em) rotate(-252deg); }
.deg-253 { transform: rotate(253deg) translate(14em) rotate(-253deg); }
.deg-254 { transform: rotate(254deg) translate(14em) rotate(-254deg); }
.deg-255 { transform: rotate(255deg) translate(14em) rotate(-255deg); }
.deg-256 { transform: rotate(256deg) translate(14em) rotate(-256deg); }
.deg-257 { transform: rotate(257deg) translate(14em) rotate(-257deg); }
.deg-258 { transform: rotate(258deg) translate(14em) rotate(-258deg); }
.deg-259 { transform: rotate(259deg) translate(14em) rotate(-259deg); }
.deg-260 { transform: rotate(260deg) translate(14em) rotate(-260deg); }
.deg-261 { transform: rotate(261deg) translate(14em) rotate(-261deg); }
.deg-262 { transform: rotate(262deg) translate(14em) rotate(-262deg); }
.deg-263 { transform: rotate(263deg) translate(14em) rotate(-263deg); }
.deg-264 { transform: rotate(264deg) translate(14em) rotate(-264deg); }
.deg-265 { transform: rotate(265deg) translate(14em) rotate(-265deg); }
.deg-266 { transform: rotate(266deg) translate(14em) rotate(-266deg); }
.deg-267 { transform: rotate(267deg) translate(14em) rotate(-267deg); }
.deg-268 { transform: rotate(268deg) translate(14em) rotate(-268deg); }
.deg-269 { transform: rotate(269deg) translate(14em) rotate(-269deg); }
.deg-270 { transform: rotate(270deg) translate(14em) rotate(-270deg); }
.deg-271 { transform: rotate(271deg) translate(14em) rotate(-271deg); }
.deg-272 { transform: rotate(272deg) translate(14em) rotate(-272deg); }
.deg-273 { transform: rotate(273deg) translate(14em) rotate(-273deg); }
.deg-274 { transform: rotate(274deg) translate(14em) rotate(-274deg); }
.deg-275 { transform: rotate(275deg) translate(14em) rotate(-275deg); }
.deg-276 { transform: rotate(276deg) translate(14em) rotate(-276deg); }
.deg-277 { transform: rotate(277deg) translate(14em) rotate(-277deg); }
.deg-278 { transform: rotate(278deg) translate(14em) rotate(-278deg); }
.deg-279 { transform: rotate(279deg) translate(14em) rotate(-279deg); }
.deg-280 { transform: rotate(280deg) translate(14em) rotate(-280deg); }
.deg-281 { transform: rotate(281deg) translate(14em) rotate(-281deg); }
.deg-282 { transform: rotate(282deg) translate(14em) rotate(-282deg); }
.deg-283 { transform: rotate(283deg) translate(14em) rotate(-283deg); }
.deg-284 { transform: rotate(284deg) translate(14em) rotate(-284deg); }
.deg-285 { transform: rotate(285deg) translate(14em) rotate(-285deg); }
.deg-286 { transform: rotate(286deg) translate(14em) rotate(-286deg); }
.deg-287 { transform: rotate(287deg) translate(14em) rotate(-287deg); }
.deg-288 { transform: rotate(288deg) translate(14em) rotate(-288deg); }
.deg-289 { transform: rotate(289deg) translate(14em) rotate(-289deg); }
.deg-290 { transform: rotate(290deg) translate(14em) rotate(-290deg); }
.deg-291 { transform: rotate(291deg) translate(14em) rotate(-291deg); }
.deg-292 { transform: rotate(292deg) translate(14em) rotate(-292deg); }
.deg-293 { transform: rotate(293deg) translate(14em) rotate(-293deg); }
.deg-294 { transform: rotate(294deg) translate(14em) rotate(-294deg); }
.deg-295 { transform: rotate(295deg) translate(14em) rotate(-295deg); }
.deg-296 { transform: rotate(296deg) translate(14em) rotate(-296deg); }
.deg-297 { transform: rotate(297deg) translate(14em) rotate(-297deg); }
.deg-298 { transform: rotate(298deg) translate(14em) rotate(-298deg); }
.deg-299 { transform: rotate(299deg) translate(14em) rotate(-299deg); }
.deg-300 { transform: rotate(300deg) translate(14em) rotate(-300deg); }
.deg-301 { transform: rotate(301deg) translate(14em) rotate(-301deg); }
.deg-302 { transform: rotate(302deg) translate(14em) rotate(-302deg); }
.deg-303 { transform: rotate(303deg) translate(14em) rotate(-303deg); }
.deg-304 { transform: rotate(304deg) translate(14em) rotate(-304deg); }
.deg-305 { transform: rotate(305deg) translate(14em) rotate(-305deg); }
.deg-306 { transform: rotate(306deg) translate(14em) rotate(-306deg); }
.deg-307 { transform: rotate(307deg) translate(14em) rotate(-307deg); }
.deg-308 { transform: rotate(308deg) translate(14em) rotate(-308deg); }
.deg-309 { transform: rotate(309deg) translate(14em) rotate(-309deg); }
.deg-310 { transform: rotate(310deg) translate(14em) rotate(-310deg); }
.deg-311 { transform: rotate(311deg) translate(14em) rotate(-311deg); }
.deg-312 { transform: rotate(312deg) translate(14em) rotate(-312deg); }
.deg-313 { transform: rotate(313deg) translate(14em) rotate(-313deg); }
.deg-314 { transform: rotate(314deg) translate(14em) rotate(-314deg); }
.deg-315 { transform: rotate(315deg) translate(14em) rotate(-315deg); }
.deg-316 { transform: rotate(316deg) translate(14em) rotate(-316deg); }
.deg-317 { transform: rotate(317deg) translate(14em) rotate(-317deg); }
.deg-318 { transform: rotate(318deg) translate(14em) rotate(-318deg); }
.deg-319 { transform: rotate(319deg) translate(14em) rotate(-319deg); }
.deg-320 { transform: rotate(320deg) translate(14em) rotate(-320deg); }
.deg-321 { transform: rotate(321deg) translate(14em) rotate(-321deg); }
.deg-322 { transform: rotate(322deg) translate(14em) rotate(-322deg); }
.deg-323 { transform: rotate(323deg) translate(14em) rotate(-323deg); }
.deg-324 { transform: rotate(324deg) translate(14em) rotate(-324deg); }
.deg-325 { transform: rotate(325deg) translate(14em) rotate(-325deg); }
.deg-326 { transform: rotate(326deg) translate(14em) rotate(-326deg); }
.deg-327 { transform: rotate(327deg) translate(14em) rotate(-327deg); }
.deg-328 { transform: rotate(328deg) translate(14em) rotate(-328deg); }
.deg-329 { transform: rotate(329deg) translate(14em) rotate(-329deg); }
.deg-330 { transform: rotate(330deg) translate(14em) rotate(-330deg); }
.deg-331 { transform: rotate(331deg) translate(14em) rotate(-331deg); }
.deg-332 { transform: rotate(332deg) translate(14em) rotate(-332deg); }
.deg-333 { transform: rotate(333deg) translate(14em) rotate(-333deg); }
.deg-334 { transform: rotate(334deg) translate(14em) rotate(-334deg); }
.deg-335 { transform: rotate(335deg) translate(14em) rotate(-335deg); }
.deg-336 { transform: rotate(336deg) translate(14em) rotate(-336deg); }
.deg-337 { transform: rotate(337deg) translate(14em) rotate(-337deg); }
.deg-338 { transform: rotate(338deg) translate(14em) rotate(-338deg); }
.deg-339 { transform: rotate(339deg) translate(14em) rotate(-339deg); }
.deg-340 { transform: rotate(340deg) translate(14em) rotate(-340deg); }
.deg-341 { transform: rotate(341deg) translate(14em) rotate(-341deg); }
.deg-342 { transform: rotate(342deg) translate(14em) rotate(-342deg); }
.deg-343 { transform: rotate(343deg) translate(14em) rotate(-343deg); }
.deg-344 { transform: rotate(344deg) translate(14em) rotate(-344deg); }
.deg-345 { transform: rotate(345deg) translate(14em) rotate(-345deg); }
.deg-346 { transform: rotate(346deg) translate(14em) rotate(-346deg); }
.deg-347 { transform: rotate(347deg) translate(14em) rotate(-347deg); }
.deg-348 { transform: rotate(348deg) translate(14em) rotate(-348deg); }
.deg-349 { transform: rotate(349deg) translate(14em) rotate(-349deg); }
.deg-350 { transform: rotate(350deg) translate(14em) rotate(-350deg); }
.deg-351 { transform: rotate(351deg) translate(14em) rotate(-351deg); }
.deg-352 { transform: rotate(352deg) translate(14em) rotate(-352deg); }
.deg-353 { transform: rotate(353deg) translate(14em) rotate(-353deg); }
.deg-354 { transform: rotate(354deg) translate(14em) rotate(-354deg); }
.deg-355 { transform: rotate(355deg) translate(14em) rotate(-355deg); }
.deg-356 { transform: rotate(356deg) translate(14em) rotate(-356deg); }
.deg-357 { transform: rotate(357deg) translate(14em) rotate(-357deg); }
.deg-358 { transform: rotate(358deg) translate(14em) rotate(-358deg); }
.deg-359 { transform: rotate(359deg) translate(14em) rotate(-359deg); }
.deg-360 { transform: rotate(360deg) translate(14em) rotate(-360deg); }

.bubble-center {
	background:#71c8ff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: -9em !important;
	width: 18em !important;
	height: 18em !important;
	border: 1px solid black;
	transition: background-image .2s ease-in-out;
}

.bubble-center span {
	position: absolute;
	width: 14.5em;
	bottom: 1em;
	left: 0;
	color: white;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.bubble-ring {
	background: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: -4.5em !important;
	width: 9em !important;
	height: 9em !important;
	background: radial-gradient(circle at 100px 100px, #fbf6ff, #71c8ff);
}

.bubble-ring:before {
	content: "";
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
	-webkit-filter: blur(5px);
	z-index: 2;
}

.bubble-container {
	position: relative;
	width: 24em;
	height: 24em;
	margin: 0 auto 0;

}
.bubble-container div {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 4em;
	height: 4em;
	margin: -2em;
	text-align: center;
}

.bubble-container span {
	font-size: 1.25em;
	color: white;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.bubble-fa-icon {
	text-align: center;
	width: 1.75em;
	font-size: 5em !important;
	margin-top: .2em;
	color: blue;
}

.bubble-fa-icon-center {

}

.bubble-container div:hover {
	border: 2px solid black
}

.control-container {
	position: fixed;
	top: .5em;
	left: .5em;
	width: 250px;
}

.back-button {
	width: 248px;
	height: 50px;
	font-size:2.5em;
	text-align:center;
	background-color: lightgray;
	border-radius:7.5%;
	border: 1px solid black;
}

.back-button:hover {
	border: 2px solid black;
	background-color: darkgray;
}

.history-list {
	width: 250px;
	background-color: whitesmoke;
	overflow: auto;
}

.list-item {
	text-align: center;
	height: 1.25em;
	width: 246px;
	background-color: beige;
	margin-bottom: .2em;
	border: 1px solid black;
	font-family:fantasy;
}

.list-item:hover {
	border: 2px solid black;
}

.history-title {
	margin:0;
	text-align:center;
	font-family:cursive;
}