.deg-0   { transform: rotate(0deg)   translate(14em) rotate(-0deg); }
.deg-5   { transform: rotate(5deg)   translate(14em) rotate(-5deg); }
.deg-10  { transform: rotate(10deg)  translate(14em) rotate(-10deg); }
.deg-15  { transform: rotate(15deg)  translate(14em) rotate(-15deg); }
.deg-20  { transform: rotate(20deg)  translate(14em) rotate(-20deg); }
.deg-25  { transform: rotate(25deg)  translate(14em) rotate(-25deg); }
.deg-30  { transform: rotate(30deg)  translate(14em) rotate(-30deg); }
.deg-35  { transform: rotate(35deg)  translate(14em) rotate(-35deg); }
.deg-40  { transform: rotate(40deg)  translate(14em) rotate(-40deg); }
.deg-45  { transform: rotate(45deg)  translate(14em) rotate(-45deg); }
.deg-50  { transform: rotate(50deg)  translate(14em) rotate(-50deg); }
.deg-55  { transform: rotate(55deg)  translate(14em) rotate(-55deg); }
.deg-60  { transform: rotate(60deg)  translate(14em) rotate(-60deg); }
.deg-65  { transform: rotate(65deg)  translate(14em) rotate(-65deg); }
.deg-70  { transform: rotate(70deg)  translate(14em) rotate(-70deg); }
.deg-75  { transform: rotate(75deg)  translate(14em) rotate(-75deg); }
.deg-80  { transform: rotate(80deg)  translate(14em) rotate(-80deg); }
.deg-85  { transform: rotate(85deg)  translate(14em) rotate(-85deg); }
.deg-90  { transform: rotate(90deg)  translate(14em) rotate(-90deg); }

.deg-95  { transform: rotate(95deg)  translate(14em) rotate(-95deg); }
.deg-100 { transform: rotate(100deg) translate(14em) rotate(-100deg); }
.deg-105 { transform: rotate(105deg) translate(14em) rotate(-105deg); }
.deg-110 { transform: rotate(110deg) translate(14em) rotate(-110deg); }
.deg-115 { transform: rotate(115deg) translate(14em) rotate(-115deg); }
.deg-120 { transform: rotate(120deg) translate(14em) rotate(-120deg); }
.deg-125 { transform: rotate(125deg) translate(14em) rotate(-125deg); }
.deg-130 { transform: rotate(130deg) translate(14em) rotate(-130deg); }
.deg-135 { transform: rotate(135deg) translate(14em) rotate(-135deg); }
.deg-140 { transform: rotate(140deg) translate(14em) rotate(-140deg); }
.deg-145 { transform: rotate(145deg) translate(14em) rotate(-145deg); }
.deg-150 { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.deg-155 { transform: rotate(155deg) translate(14em) rotate(-155deg); }
.deg-160 { transform: rotate(160deg) translate(14em) rotate(-160deg); }
.deg-165 { transform: rotate(165deg) translate(14em) rotate(-165deg); }
.deg-170 { transform: rotate(170deg) translate(14em) rotate(-170deg); }
.deg-175 { transform: rotate(175deg) translate(14em) rotate(-175deg); }
.deg-180 { transform: rotate(180deg) translate(14em) rotate(-180deg); }

.deg-185 { transform: rotate(185deg) translate(14em) rotate(-185deg); }
.deg-190 { transform: rotate(190deg) translate(14em) rotate(-190deg); }
.deg-195 { transform: rotate(195deg) translate(14em) rotate(-195deg); }
.deg-200 { transform: rotate(200deg) translate(14em) rotate(-200deg); }
.deg-205 { transform: rotate(205deg) translate(14em) rotate(-205deg); }
.deg-210 { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.deg-215 { transform: rotate(215deg) translate(14em) rotate(-215deg); }
.deg-220 { transform: rotate(220deg) translate(14em) rotate(-220deg); }
.deg-225 { transform: rotate(225deg) translate(14em) rotate(-225deg); }
.deg-230 { transform: rotate(230deg) translate(14em) rotate(-230deg); }
.deg-235 { transform: rotate(235deg) translate(14em) rotate(-235deg); }
.deg-240 { transform: rotate(240deg) translate(14em) rotate(-240deg); }
.deg-245 { transform: rotate(245deg) translate(14em) rotate(-245deg); }
.deg-250 { transform: rotate(250deg) translate(14em) rotate(-250deg); }
.deg-255 { transform: rotate(255deg) translate(14em) rotate(-255deg); }
.deg-260 { transform: rotate(260deg) translate(14em) rotate(-260deg); }
.deg-265 { transform: rotate(265deg) translate(14em) rotate(-265deg); }
.deg-270 { transform: rotate(270deg) translate(14em) rotate(-270deg); }

.deg-275 { transform: rotate(275deg) translate(14em) rotate(-275deg); }
.deg-280 { transform: rotate(280deg) translate(14em) rotate(-280deg); }
.deg-285 { transform: rotate(285deg) translate(14em) rotate(-285deg); }
.deg-290 { transform: rotate(290deg) translate(14em) rotate(-290deg); }
.deg-295 { transform: rotate(295deg) translate(14em) rotate(-295deg); }
.deg-300 { transform: rotate(300deg) translate(14em) rotate(-300deg); }
.deg-305 { transform: rotate(305deg) translate(14em) rotate(-305deg); }
.deg-310 { transform: rotate(310deg) translate(14em) rotate(-310deg); }
.deg-315 { transform: rotate(315deg) translate(14em) rotate(-315deg); }
.deg-320 { transform: rotate(320deg) translate(14em) rotate(-320deg); }
.deg-325 { transform: rotate(325deg) translate(14em) rotate(-325deg); }
.deg-330 { transform: rotate(330deg) translate(14em) rotate(-330deg); }
.deg-335 { transform: rotate(335deg) translate(14em) rotate(-335deg); }
.deg-340 { transform: rotate(340deg) translate(14em) rotate(-340deg); }
.deg-345 { transform: rotate(345deg) translate(14em) rotate(-345deg); }
.deg-350 { transform: rotate(350deg) translate(14em) rotate(-350deg); }
.deg-355 { transform: rotate(355deg) translate(14em) rotate(-355deg); }
.deg-360 { transform: rotate(360deg) translate(14em) rotate(-360deg); }

.bubble-center {
	background:blue;
	/*background-image: url('http://www.online-image-editor.com//styles/2014/images/example_image.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: -9em !important;
	width: 18em !important;
	height: 18em !important;
	border: 1px solid black;
}

.bubble-ring {
	background: blue;
	border-radius: 50%;
	margin: -4.5em !important;
	width: 9em !important;
	height: 9em !important;
}

.bubble-container {
	position: relative;
	width: 24em;
	height: 24em;
	margin: 0 auto 0;

}
.bubble-container div {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 4em;
	height: 4em;
	margin: -2em;
}

.bubble-fa-icon {
	text-align: center;
	width: 1.75em;
	font-size: 5em !important;
	margin: .2em auto
}

.bubble-fa-icon-center {

}

.bubble-container div:hover {
	border: 2px solid black
}