<div id="bubble-container" class='bubble-container'>
	<div class='center bubble-center' ng-click="poke()">

	</div>

	<div class='deg-0 bubble-ring' ng-click="poke()">
		<i class="fa fa-lightbulb-o bubble-fa-icon"></i>
	</div>
	<div class='deg-45 bubble-ring' ng-click="poke()">
		<i class="fa fa-map-o bubble-fa-icon"></i>
	</div>
	<div class='deg-135 bubble-ring' ng-click="poke()">
		<i class="fa fa-music bubble-fa-icon"></i>
	</div>
	<div class='deg-180 bubble-ring' ng-click="poke()">
		<i class="fa fa-book bubble-fa-icon"></i>
	</div>
	<div class='deg-225 bubble-ring' ng-click="poke()">
		<i class="fa fa-bomb bubble-fa-icon"></i>
	</div>
	<div class='deg-315 bubble-ring' ng-click="poke()">
		<i class="fa fa-bell bubble-fa-icon"></i>
	</div>
	<div class='deg-90 bubble-ring' ng-click="poke()">
		<i class="fa fa-car bubble-fa-icon"></i>
	</div>
	<div class='deg-270 bubble-ring' ng-click="poke()">
		<i class="fa fa-user bubble-fa-icon"></i>
	</div>
</div>