<div id="bubble-container" class='bubble-container'>
	<div id="centerDiv" class='center bubble-center' ng-click="poke(0)">
		<span>{{centerBubbleText}}</span>
	</div>

	<!--This is the option where there are 8 circles with 4 on the axis 0, 90, 180, 270-->
	<section>
		<div ng-show="bubble1 && bubbleStyle == 1" class='deg-0 bubble-ring' ng-click="poke(1)">
			<i class="fa bubble-fa-icon" ng-class="bubble1Icon"></i>
			<span>{{bubble1Text}}</span>
		</div>
		<div ng-show="bubble2 && bubbleStyle == 1" class='deg-45 bubble-ring' ng-click="poke(2)">
			<i class="fa bubble-fa-icon" ng-class="bubble2Icon"></i>
			<span>{{bubble2Text}}</span>
		</div>
		<div ng-show="bubble3 && bubbleStyle == 1" class='deg-90 bubble-ring' ng-click="poke(3)">
			<i class="fa bubble-fa-icon" ng-class="bubble3Icon"></i>
			<span>{{bubble3Text}}</span>
		</div>
		<div ng-show="bubble4 && bubbleStyle == 1" class='deg-135 bubble-ring' ng-click="poke(4)">
			<i class="fa bubble-fa-icon" ng-class="bubble4Icon"></i>
			<span>{{bubble4Text}}</span>
		</div>
		<div ng-show="bubble5 && bubbleStyle == 1" class='deg-180 bubble-ring' ng-click="poke(5)">
			<i class="fa bubble-fa-icon" ng-class="bubble5Icon"></i>
			<span>{{bubble5Text}}</span>
		</div>
		<div ng-show="bubble6 && bubbleStyle == 1" class='deg-225 bubble-ring' ng-click="poke(6)">
			<i class="fa bubble-fa-icon" ng-class="bubble6Icon"></i>
			<span>{{bubble6Text}}</span>
		</div>
		<div ng-show="bubble7 && bubbleStyle == 1" class='deg-270 bubble-ring' ng-click="poke(7)">
			<i class="fa bubble-fa-icon" ng-class="bubble7Icon"></i>
			<span>{{bubble7Text}}</span>
		</div>
		<div ng-show="bubble8 && bubbleStyle == 1" class='deg-315 bubble-ring' ng-click="poke(8)">
			<i class="fa bubble-fa-icon" ng-class="bubble8Icon"></i>
			<span>{{bubble8Text}}</span>
		</div>
	</section>

	<!--This is the option where there are 8 circles with 2 in each quadrant keeping the 45deg spacing: 23, 68, 113, 158, 203, 248, 293, 338-->
	<section>
		<div ng-show="bubble1 && bubbleStyle == 2" class='deg-23 bubble-ring' ng-click="poke(1)">
			<i class="fa bubble-fa-icon" ng-class="bubble1Icon"></i>
			<span>{{bubble1Text}}</span>
		</div>
		<div ng-show="bubble2 && bubbleStyle == 2" class='deg-68 bubble-ring' ng-click="poke(2)">
			<i class="fa bubble-fa-icon" ng-class="bubble2Icon"></i>
			<span>{{bubble2Text}}</span>
		</div>
		<div ng-show="bubble3 && bubbleStyle == 2" class='deg-113 bubble-ring' ng-click="poke(3)">
			<i class="fa bubble-fa-icon" ng-class="bubble3Icon"></i>
			<span>{{bubble3Text}}</span>
		</div>
		<div ng-show="bubble4 && bubbleStyle == 2" class='deg-158 bubble-ring' ng-click="poke(4)">
			<i class="fa bubble-fa-icon" ng-class="bubble4Icon"></i>
			<span>{{bubble4Text}}</span>
		</div>
		<div ng-show="bubble5 && bubbleStyle == 2" class='deg-203 bubble-ring' ng-click="poke(5)">
			<i class="fa bubble-fa-icon" ng-class="bubble5Icon"></i>
			<span>{{bubble5Text}}</span>
		</div>
		<div ng-show="bubble6 && bubbleStyle == 2" class='deg-248 bubble-ring' ng-click="poke(6)">
			<i class="fa bubble-fa-icon" ng-class="bubble6Icon"></i>
			<span>{{bubble6Text}}</span>
		</div>
		<div ng-show="bubble7 && bubbleStyle == 2" class='deg-293 bubble-ring' ng-click="poke(7)">
			<i class="fa bubble-fa-icon" ng-class="bubble7Icon"></i>
			<span>{{bubble7Text}}</span>
		</div>
		<div ng-show="bubble8 && bubbleStyle == 2" class='deg-338 bubble-ring' ng-click="poke(8)">
			<i class="fa bubble-fa-icon" ng-class="bubble8Icon"></i>
			<span>{{bubble8Text}}</span>
		</div>
	</section>

	<!--This is the option where there are 9 circles each spaced 40 away from eachother.-->
	<section>
		<div ng-show="bubble1 && bubbleStyle == 3" class='deg-10 bubble-ring' ng-click="poke(1)">
			<i class="fa bubble-fa-icon" ng-class="bubble1Icon"></i>
			<span>{{bubble1Text}}</span>
		</div>
		<div ng-show="bubble2 && bubbleStyle == 3" class='deg-50 bubble-ring' ng-click="poke(2)">
			<i class="fa bubble-fa-icon" ng-class="bubble2Icon"></i>
			<span>{{bubble2Text}}</span>
		</div>
		<div ng-show="bubble3 && bubbleStyle == 3" class='deg-90 bubble-ring' ng-click="poke(3)">
			<i class="fa bubble-fa-icon" ng-class="bubble3Icon"></i>
			<span>{{bubble3Text}}</span>
		</div>
		<div ng-show="bubble4 && bubbleStyle == 3" class='deg-130 bubble-ring' ng-click="poke(4)">
			<i class="fa bubble-fa-icon" ng-class="bubble4Icon"></i>
			<span>{{bubble4Text}}</span>
		</div>
		<div ng-show="bubble5 && bubbleStyle == 3" class='deg-170 bubble-ring' ng-click="poke(5)">
			<i class="fa bubble-fa-icon" ng-class="bubble5Icon"></i>
			<span>{{bubble5Text}}</span>
		</div>
		<div ng-show="bubble6 && bubbleStyle == 3" class='deg-210 bubble-ring' ng-click="poke(6)">
			<i class="fa bubble-fa-icon" ng-class="bubble6Icon"></i>
			<span>{{bubble6Text}}</span>
		</div>
		<div ng-show="bubble7 && bubbleStyle == 3" class='deg-250 bubble-ring' ng-click="poke(7)">
			<i class="fa bubble-fa-icon" ng-class="bubble7Icon"></i>
			<span>{{bubble7Text}}</span>
		</div>
		<div ng-show="bubble8 && bubbleStyle == 3" class='deg-290 bubble-ring' ng-click="poke(8)">
			<i class="fa bubble-fa-icon" ng-class="bubble8Icon"></i>
			<span>{{bubble8Text}}</span>
		</div>
		<div ng-show="bubble9 && bubbleStyle == 3" class='deg-330 bubble-ring' ng-click="poke(9)">
			<i class="fa bubble-fa-icon" ng-class="bubble9Icon"></i>
			<span>{{bubble9Text}}</span>
		</div>
	</section>

	<!--This is the option where there are 6 circles with the two along the x axis are aligned-->
	<section>
		<div ng-show="bubble1 && bubbleStyle == 4" class='deg-0 bubble-ring' ng-click="poke(1)">
			<i class="fa bubble-fa-icon" ng-class="bubble1Icon"></i>
			<span>{{bubble1Text}}</span>
		</div>
		<div ng-show="bubble2 && bubbleStyle == 4" class='deg-60 bubble-ring' ng-click="poke(2)">
			<i class="fa bubble-fa-icon" ng-class="bubble2Icon"></i>
			<span>{{bubble2Text}}</span>
		</div>
		<div ng-show="bubble3 && bubbleStyle == 4" class='deg-120 bubble-ring' ng-click="poke(3)">
			<i class="fa bubble-fa-icon" ng-class="bubble3Icon"></i>
			<span>{{bubble3Text}}</span>
		</div>
		<div ng-show="bubble4 && bubbleStyle == 4" class='deg-180 bubble-ring' ng-click="poke(4)">
			<i class="fa bubble-fa-icon" ng-class="bubble4Icon"></i>
			<span>{{bubble4Text}}</span>
		</div>
		<div ng-show="bubble5 && bubbleStyle == 4" class='deg-240 bubble-ring' ng-click="poke(5)">
			<i class="fa bubble-fa-icon" ng-class="bubble5Icon"></i>
			<span>{{bubble5Text}}</span>
		</div>
		<div ng-show="bubble6 && bubbleStyle == 4" class='deg-300 bubble-ring' ng-click="poke(6)">
			<i class="fa bubble-fa-icon" ng-class="bubble6Icon"></i>
			<span>{{bubble6Text}}</span>
		</div>
	</section>

	<!--This is the option where there are 6 circles with the two along the y axis are aligned-->
	<section>
		<div ng-show="bubble1 && bubbleStyle == 5" class='deg-30 bubble-ring' ng-click="poke(1)">
			<i class="fa bubble-fa-icon" ng-class="bubble1Icon"></i>
			<span>{{bubble1Text}}</span>
		</div>
		<div ng-show="bubble2 && bubbleStyle == 5" class='deg-90 bubble-ring' ng-click="poke(2)">
			<i class="fa bubble-fa-icon" ng-class="bubble2Icon"></i>
			<span>{{bubble2Text}}</span>
		</div>
		<div ng-show="bubble3 && bubbleStyle == 5" class='deg-150 bubble-ring' ng-click="poke(3)">
			<i class="fa bubble-fa-icon" ng-class="bubble3Icon"></i>
			<span>{{bubble3Text}}</span>
		</div>
		<div ng-show="bubble4 && bubbleStyle == 5" class='deg-210 bubble-ring' ng-click="poke(4)">
			<i class="fa bubble-fa-icon" ng-class="bubble4Icon"></i>
			<span>{{bubble4Text}}</span>
		</div>
		<div ng-show="bubble5 && bubbleStyle == 5" class='deg-270 bubble-ring' ng-click="poke(5)">
			<i class="fa bubble-fa-icon" ng-class="bubble5Icon"></i>
			<span>{{bubble5Text}}</span>
		</div>
		<div ng-show="bubble6 && bubbleStyle == 5" class='deg-330 bubble-ring' ng-click="poke(6)">
			<i class="fa bubble-fa-icon" ng-class="bubble6Icon"></i>
			<span>{{bubble6Text}}</span>
		</div>
	</section>
</div>