h1 {
	text-align: center;
}

.list-container {
	border: 1px solid black;
}

.list-title {
	text-align: center;
	margin: 0;
	color: lightgray;
}

.list-item {
	text-align: center;
	height: 35px;
	margin: .2em;
	background-color: beige;
	border: 1px solid black;
}

.list-item:hover {
	border: 2px solid black;
}

.form {
	padding-top: 2em;
}

.file-input{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.fa-list-container {
	overflow: auto;
	max-height: 200px;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.fa-list {
	border: 1px solid black;
	margin-top: 5px !important;
}

.fa-list:hover {
	border: 2px solid black;
}

.fa-list:before {
	content:"" !important;
}

.fa-list-item {

}

.section {
	float: left;
	width: 25%;
	height: 30px;
	text-align: start;
	border-right: 1px solid gray;
	overflow-x: scroll;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/Preloader_3.gif) center no-repeat #fff;
}