<h1>Add to Database</h1>

<form>
	<div class="form-group">
		<input ng-model="who" type="text" class="form-control" id="databaseWho" placeholder="Who" required>
	</div>
	<div class="form-group">
		<textarea ng-model="what" class="form-control" rows="4" placeholder="Did What" required></textarea>
	</div>
	<div class="form-group">
		<input ng-model="when" type="text" class="form-control" id="databaseWhen" placeholder="When" required>
	</div>
	<div class="form-group">
		<textarea ng-model="where" class="form-control" rows="4" placeholder="And Where" required></textarea>
	</div>
	<div class="form-group">
		<select ng-model="significance" class="form-control" required>
			<option value="" disabled selected>Significance of Event</option>
			<option value=1>Trivial</option>
			<option value=2>Average</option>
			<option value=3>Significant</option>
		</select>
	</div>
	<div class="form-group">
		<select ng-model="classification" ng-options="classification.title for classification in classifications" class="form-control" required>
			<option value="" disabled selected>Classification of Event</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	<button type="button" class="btn btn-primary btn-block" ng-click="goto('add')">Add More Classifications</button>
</form>