body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
}

.wholeScreen {
	background: beige;
	font-size: 16px;
}

.sideBar {
	background: url("http://i.stack.imgur.com/sepyh.jpg");
	float: left;
	border-right: 1px solid black;
}

.viewContainer {
	background: white;
	float: left;
	overflow: hidden;
}

.timelineContainer {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bubbleContainer {
	float: left;
	width: 100%;
	height: 100%;
}

.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/Preloader_3.gif) center no-repeat #fff;
}

.people-list {
	overflow: auto;
	height: 100% -35px;
}

.person-listing {
	text-align: center;
	height: 50px;
	margin: .2em;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

.person-listing:hover {
	border: 2px solid black;
	background: lightgrey;
}

.personImage {
	float: left;
	height: 48px;
	width: 48px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 32px;
}

.personInformation {
	float: left;
	height: 100%;
}

.timelineImage {
	position: absolute;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 65px;
}

.timelineName {
	font-size: 12px;
	margin-top: 8px;
}

.timelineDrawSpace {
	height: 100%;
	margin-left: 110px;
	overflow: auto;
}

.scrolling-timeline {
	height: 100%;
	position: relative;
}

.timelinePopup {
	position: absolute;
	height: 120px;
	width: 300px;
	font-size: 16px;
	background: beige;
	top: -140px;
	display: none;
	border-radius: 5px;
	border: 1px solid black;
}

.eventCircle {
	position:absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: green;
}

.eventCircle:hover .timelinePopup{
	display: block;
}