.search-box {
	width: 250px;
	float: left;
	border: 1px solid black;
	z-index: 2;
}

.nav-bar {
	height: 35px;
	margin-left: 250px;
}

.nav-bar-btn {
	width: 49% !important;
	float: left;
	margin-top:0 !important;
	margin-left: 10px;
}

.main-section {
	margin-left: 250px;
	background: red;
}

.list-container {
	overflow: auto;
	z-index: 2;
}

.list-item:hover {
	font-weight:bold;
	color: blue;
}

.year-bar {
	height: 24px;
	border: 1px solid black;
}

.focus-point {
	cursor: crosshair;
}

/*
This is essentially just drawing a line in the middle of the timeline
To hide this when we draw the map adjust the z-index to be -1 or remove the border
*/
/*.focus-point:after {*/
	/*content:"";*/
	/*position:absolute;*/
	/*z-index: 1;*/
	/*top:50%;*/
	/*right:0;*/
	/*left:250px;*/
	/*border-top:3px solid gray;*/
/*}*/

.left-bound-year {
	float: left;
	z-index: -1;
}

.right-bound-year {
	float: right;
	z-index: -1;
}

.floating-year {
	z-index: 1;
	position: absolute;
	top: 35px;
	left: 250px;
	background: red;
}

.div-circle {
	z-index: 2;
	position: absolute;
	border-radius: 50%;
	background: black;
}

.div-circle:hover {
	border: 1px solid white
}