<div id="container" class="test">
	<div id="search-box" class="search-box">
		<div class="input-group" style="width:100%;margin-bottom:5px;">
			<input ng-model="query" type="text" class="form-control" id="query" placeholder="Search Events...">
			<div class="input-group-addon" style="width:38px"><i class="fa fa-search"></i></div>
		</div>
		<div id="list-container" class="list-container">
			<ul class="list" ng-repeat="icon in allEvents | filter: query" ng-click="selectIcon(icon)">
				<li class="list-item">
					<i class="fa" ng-class="icon"></i>
					{{icon}}
				</li>
			</ul>
		</div>
	</div>
	<div id="nav-bar" class="nav-bar">
		<button class="btn btn-block nav-bar-btn">Map</button>
		<button class="btn btn-block nav-bar-btn">Timeline</button>
	</div>
	<div id="main-section" class="main-section">
		<div class="year-bar">
			<span>
				{{currentYear}}
			</span>
		</div>
	</div>
</div>